
body {
  background: linear-gradient(to bottom, skyblue, lightblue);    
  font-family: 'Press Start 2P', cursive;  
  color: white;   
}
.titulo {
  text-align: center;
}

.quadro-cards {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: flex-end; /* Centraliza verticalmente */
  gap: 30px;  
}

.card {
  position: relative;
  padding: 5vh;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
  transition: all 0.4s ease;
  background: linear-gradient(344deg, rgb(1 3 0 / 99%) 10%, #38e233 70%);
}
#imganterior, #imgproximo {
  background-color: silver;  
  filter: blur(4px);
}


/* Botão roxo (A) */
.A , .B {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6B52AE; /* Roxo */
  border: 4px solid #4E3B7F;
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.6), 
              inset 5px 5px 10px rgba(0, 0, 0, 0.3), 
              4px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Efeito de clique */
.A:active, .B:active {
  transform: translateY(3px);
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.4), 
  inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Ajuste para a disposição dos botões */
.controller {
  display: flex;
  justify-content: center;  /* Alinha horizontalmente */
  align-items: center;       /* Alinha verticalmente */
  width: 200px;
  height: 60px; /* Centraliza verticalmente */
  border: 15px ridge black;
  border-radius: 80px;  
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background: linear-gradient(350deg,rgba(60,60,56,0.99) 0%, #c5c5c5 80%);
}

.entradas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.numb-chart {
  border: 2px dashed black;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  width: 100px;
  margin-left: 1vh;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background: linear-gradient(350deg,rgba(60,60,56,0.99) 0%, #c5c5c5 80%);
}

.legendas {
  background: linear-gradient(90deg,black 0%, silver 80%);
  padding: 5px;
  border: 15px groove black;
  border-radius: 15px;
  margin-bottom: 1vh;
  margin-top: 3vh;
  box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
  width: 100px;
}
